body {
	color: black;
	background: #E0FFFF;
	font-family: garamond;
	font-weight: bold;
	background-image: url("4.jpg");
	background-repeat: repeat;
	
}
h1 {text-align: center; color: #000000;}
h2 {font-family: times; color: #191970 ; text-align: center;text-decoration:underline; font-weight: 900;}
h3 {font-family: garamond; color: #4682B4 ; text-align: center;}

th {
	color: #FFFFFF; background-color: #336699; border-width: 1px;
	border-style: solid; border-color: blue; font-size: 12pt; font-family: garamond; font-weight: bold;
}
td {
	color: black;
	background-color: #FFFFFF; border-width: 1px;
	border-style: solid; border-color: blue; font-size: 12pt; font-family: garamond; font-weight: bold;
}
.leftlink {
	border:1px solid #FFFFFF; padding:5px;
}
.leftlink a {
	display:inline-block; margin: 3px 0 px;
	border-top: 1px solid #4C86C0; border-left:1px solid #4C86C0;
	border-right: 1px solid #22476C; border-bottom: 1px solid #22476C; padding:4px 10px;
	text-align:center; background-color: #FFE4E1;
	color: #FFFFFF; text-decoration: none; 
}
.leftlink a:link {
	color:#000000;
}
.leftlink a:visited {
	color: #000000;
}
.leftlink a:hover { display:inline-block; margin:3px 0px;
	border-top:1px solid #22476C; border-left: 1px solid #22376C;
	border-bottom:1px solid #4C86C0; border-right:1px solid #4C86C0; padding: 5px 9px 3px 11px;
	text-align:center; background-color: #FFE4E1; color:#FF69B4; text-decoration: none;
}

